div.app {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    width: 90%;
    margin: 0 auto;


    header {
        flex-basis: 50vh;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        nav {
            min-height: 50px;
        }

        @media (min-width:1920px) {
            min-height: 70px;
        }

        section {
            flex-grow: 1;
        }
    }

    footer {
        background-color: black;
        color: white;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }
}