section {
    position: relative;

    div.homePage {
        img.startImg {
            position: absolute;
            height: 80%;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            text-align: center;
            margin-top: 100px;
        }
    }

    div.male {
        display: flex;
        justify-content: center;
        height: 35vh;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.photo {
        position: relative;
        flex-basis: 20vw;


        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 25vh;
            border-radius: 2%;

            @media (min-width: 1920px) {
                height: 30vh;
            }
        }
    }

    div.info {
        flex-basis: 30vw;
        padding: 30px 0 0 20px;
    }
}