nav {
    /* padding: 0 30px 30px 0; */
}

ul {
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    list-style-type: none;
}

nav a {
    display: block;
    border: 2px solid black;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav a.active {
    background-color: black;
    color: white;
}